<%= form_for @tour, url: admins_tours_path  do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class= "center">
    <%= f.label :name_tour %>
    <%= f.text_field :name_tour, class: "form-control form-add" %>
  </div>

  <div class= "center">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control form-add" %>
  </div>
  <div class= "center">
    <%= f.label :picture %>
    <center>
      <%= f.file_field :picture, accept: Settings.picture.type %>
    </center>
  </div>

  <div class= "center">
    <%= f.label :starttime, t(".date_start") %>
    <%= f.text_field :starttime, class: "datetimepicker" %>
    <span class="fa fa-calendar"></span>
  </div>

  <div class= "center">
    <%= f.label :endtime, t(".date_end") %>
    <%= f.text_field :endtime, class: "datetimepicker" %>
    <span class="fa fa-calendar"></span>
  </div>

  <div class= "center">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control form-add" %>
  </div>

  <div class= "center">
    <%= f.label :category_tour_id %>
    <%= f.select :category_tour_id, options_from_collection_for_select(@category_tours, :id, :name_category)%>
  </div>

  <div class= "center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
