<tr class="odd gradeX">
  <td>
    <%= image_tag tour.picture, size: Settings.picture.size %>
    <%= tour.name_tour %>
  </td>
  <td><%= l tour.starttime, format: :long %></td>
  <td><%= l tour.endtime, format: :long %></td>
  <td class="center">
    <%= tour.price %>
  </td>
  <td class="center">
    <%= link_to t(".edit"), edit_admins_tour_path(id: tour.id) %>
    | <%= link_to t(".delete"), tour_destroy_path(id: tour.id), method: :delete, data: { confirm: t(".confirm") } %>
  </td>
</tr>
