<%= form_for [@tour, @review], remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".post_review"), class: "input-textarea" %>
    <%= f.hidden_field :tour_id, value: @tour.id %>
  </div>
  <%= f.submit t(".review"), class: "btn btn-primary col-sm-offset-9" %>
<% end %>
