<div class="container text-center show_tour">
  <div class="row">
    <div class="col-sm-4 well">
      <div class="alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= image_tag @tour.picture, class: "img_tour" %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 detail">
          <h1><%= @tour.name_tour %></h1>
          <hr>
          <p class = "start-time">
            <span class = "fa fa-calendar"></span>
            <%= l @tour.starttime, format: :long %>
            <span class = "fa fa-arrow-right"></span>
            <%= l @tour.endtime, format: :long %>
          </p>
          <hr>
          <pre><%= @tour.content %></pre>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <a href="#" data-toggle="modal" data-target="#myModal" >
            <button><%= t".create_review" %></button>
          </a>
        </div>
        <div class="modal fade" id = "myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3><%= t ".title" %></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="#" method="post" accept-charset="utf-8">
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <input type="submit" name="" value="Post" class="btn btn-default">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <%= t "close"%>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <%= render @reviews %>
  </div>
</div>
