<div class="container text-center show_tour">
  <div class="row">
    <div class="col-sm-4 well">
      <div class="alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= image_tag @tour.picture, class: "img_tour" %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 detail">
          <h1><%= @tour.name_tour %></h1>
          <hr>
          <p class = "start-time">
            <span class = "fa fa-calendar"></span>
            <%= l @tour.starttime, format: :long %>
            <span class = "fa fa-arrow-right"></span>
            <%= l @tour.endtime, format: :long %>
          </p>
          <hr>
          <pre><%= @tour.content %></pre>
        </div>
      </div>
      <div>
        <%= render "tours/review_form" %>
      </div>
    </div>
  </div>
  <div class = "row">
    <ul class = "col-md-6 col-md-offset-4">
      <%= render @reviews %>
      <%= will_paginate @reviews %>
    </ul>
  </div>
</div>
