<li id="<%= review.id %>">
  <div class= "list-comment row">
    <div class="col-sm-2 wid-pic">
      <%= link_to gravatar_for(review.user, size: Settings.gravatar.sizeM), review.user %>
    </div>
    <div class="col-sm-10">
      <div class = "float-review">
        <p class="user align-name-user">
          <%= link_to review.user.name_user, review.user %>
        </p>
        <span class="content mar-review">
          <%= review.content %>
        </span>
        <div class = "content-review">
          <span class="timestamp style-review">
            <%=time_ago_in_words review.created_at %>
            <% if current_user?(review.user) %>
              <%= link_to "", tour_review_path(@tour,id: review.id),
                method: :delete, data: {confirm: t(".confirm")}, class: "fa fa-trash-o" %>
            <% end %>
          </span>
        </div>
      </div>
      <ul>
        <% if review.comments.any? %>
          <div id = "comment-list">
          <%= render partial: "comments/comment", collection: review.comments, as: :comment %>
        <% end %>
      </ul>
      <% if current_user.present? %>
        <div id = "new-comment" >
          <%= render "reviews/comment_form", review: review  %>
        </div>
      <% end %>
    </div>
  </div>
</li>
