<div class = "reviews">
  <div class="row">
    <div class = "acc_info">
      <%= gravatar_for @current_user %>
      <p><%= @current_user.name_user %>&nbsp;
        <i class = "fa fa-pencil" ></i>
        <span class = "time_review">
          <%=l review.updated_at, fotmat: :long %>
        </span>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      <div>
        <p><%= review.content %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
        <p>
          <i class="fa fa-thumbs-up"></i>
        </p>
    </div>
    <div class="col-sm-1">
        <p>
          <i class="fa fa-comment"></i>
        </p>
    </div>
    <% if @current_user.id == review.user_id %>
      <div class = "col-sm-10">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p>
                <i class="fa fa-pencil-square-o"></i>
                <%= link_to t(".edit"), edit_user_review_path(current_user, review) %>
                &nbsp;
              </p>
            </li>
            <li>
              <p>
                <i class="fa fa-trash-o"></i>
                <%= link_to t(".delete"), user_review_path(current_user, review), method: :delete,
                  data: {confirm: (t ".confirm_delete")} %>
              </p>
            </li>
          </ul>
      </div>
     <% end %>
  </div>
</div>
