<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <div class="logo">
        <%= link_to image_tag("logo.png", alt: "Booking Your Travel"), "http://localhost:3000/" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), "#" %></li>
        <li><%= link_to t(".help"), "#" %></li>
        <li><%= link_to t(".login"), login_path %></li>
        <li><%= link_to t(".signout"), logout_path %></li>
      </ul>
    </nav>
  </div>
</header>
